# This notebook 

- convert DBF from GIS to csv 

- extracts zipcode for each intersection in Chicago 

- calculate the intersection density for each zipcode.

Package:

- `dbfread`

- `pandas`

- `scipy`


# Data resources : 

- [How to convert dbf to csv](https://stackoverflow.com/questions/32772447/way-to-convert-dbf-to-csv-in-python)


- [U.S. Street Network Shapefiles, Node/Edge Lists, and GraphML Files](https://dataverse.harvard.edu/dataset.xhtml?persistentId=doi:10.7910/DVN/CUWWYJ)

In [29]:
# Necessary imports
from dbfread import DBF
import pandas as pd
import csv
import numpy as np
import math
from scipy import spatial
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

# I. Helper function

In [30]:
def to_Cartesian(lat, lon):
    '''
    function to convert latitude and longitude to 3D cartesian coordinates
    '''
    R = 6371 # radius of the Earth in kilometers

    x = R * math.cos(lat) * math.cos(lon)
    y = R * math.cos(lat) * math.sin(lon)
    z = R * math.sin(lat)
    return x, y, z

def deg2rad(degree):
    '''
    function to convert degree to radian
    '''
    rad = degree * 2*np.pi / 360
    return rad

def rad2deg(rad):
    '''
    function to convert radian to degree
    '''
    degree = rad/2/np.pi * 360
    return degree

def distToKM(x):
    '''
    function to convert cartesian distance to real distance in km
    '''
    R = 6371 # earth radius
    gamma = 2*np.arcsin(deg2rad(x/(2*R))) # compute the angle of the isosceles triangle
    dist = 2*R*math.sin(gamma/2) # compute the side of the triangle
    return dist

def kmToDIST(x):
    '''
    function to convert real distance in km to cartesian distance 
    '''
    R = 6371 # earth radius
    gamma = 2*np.arcsin(x/2./R) 
    
    dist = 2*R*rad2deg(sin(gamma / 2.))
    return dist

In [31]:
def interfer_zipcode_from_distance(df, lat_ref, lng_ref , n_closest=5):
    '''
    function to estimate the zipcode of each lat/lgn in df by calculating 
    it's Euclide distance to every reference lat/lgn in lat_ref/lgn_ref,
    return top 5 closest ref_lat/ref_lgn 
    '''
    
    lats_1d = df['lat'].values
    lons_1d = df['lng'].values

    # convert the grid points and reference points to cartesian coordinates
    x, y, z = zip(*map(to_Cartesian, lats_1d, lons_1d))
    x_ref, y_ref, z_ref = to_Cartesian(lat_ref, lng_ref)
    
    # create the KD-tree using the 3D cartesian coordinates
    coordinates = list(zip(x, y, z))
    tree = spatial.cKDTree(coordinates)

    # get the cartesian distances from the 10 closest points
    dist, ix = tree.query((x_ref, y_ref, z_ref), n_closest)

    # print out the real distances in km
    #print(list(map(distToKM, dist)))
    
    #return dist,ix
    return df['zipcode'].iloc[ix[0]]

In [32]:
def dbf_to_csv(dbf_table_pth):
    '''
    function to covert dbf to csv
    Input : dbf
    Output : csv, same name, same path, except extension
    '''

    csv_fn = dbf_table_pth[:-4]+ ".csv" #Set the csv file name
    table = DBF(dbf_table_pth)# table variable is a DBF object
    with open(csv_fn, 'w', newline = '') as f:# create a csv file, fill it with dbf content
        writer = csv.writer(f)
        writer.writerow(table.field_names)# write the column name
        for record in table:# write the rows
            writer.writerow(list(record.values()))
    return csv_fn# return the csv name

In [33]:
# how to read dbf file
dbf_table_pth = './gis_dataset/ZIPintersections/ZIPintersections.dbf'

table = DBF(dbf_table_pth, load=True)
#df = table.to_dataframe()
#for record in table:
#    print(record)

dbf_to_csv(dbf_table_pth)

'./gis_dataset/ZIPintersections/ZIPintersections.csv'

# II. Extract road intersection from GIS database

## 1. Extract the number of intersections in each zipcode

In [34]:
dbf_table_pth = './gis_dataset/ZIPintersections/ZIPintersections.dbf'
csv_path = dbf_to_csv(dbf_table_pth)
df = pd.read_csv(csv_path)

In [35]:
df = df.rename(columns={'zip' : 'zipcode', 'Count_' : 'intersection_count'})

print('number of row :',len(df))
print('number of zipcodes are :',len(set(df.zipcode)))
print('There are total {} intersections in Chicago'.format(df['intersection_count'].sum())) 
print(df.columns)
df.head()

number of row : 61
number of zipcodes are : 59
There are total 28335 intersections in Chicago
Index(['FID_1', 'objectid', 'shape_area', 'shape_len', 'zipcode',
       'intersection_count', 'Sum_osmid', 'Sum_x', 'Sum_y'],
      dtype='object')

,FID_1,objectid,shape_area,shape_len,zipcode,intersection_count,Sum_osmid,Sum_x,Sum_y
0,0,33.0,1.060523e+08,42720.044406,60647,699,2.018352e+11,-61302.665277,29302.793967
1,1,34.0,1.274761e+08,48103.782721,60639,612,1.791981e+11,-53706.591818,25654.888800
2,2,35.0,4.506904e+07,27288.609612,60707,172,5.470885e+10,-15101.150940,7210.159568
3,3,36.0,7.085383e+07,42527.989679,60622,419,1.230189e+11,-36738.913588,17557.220936
4,4,37.0,9.903962e+07,47970.140153,60651,504,1.395923e+11,-44220.573629,21118.735909

In [36]:
# pickling the number of intersections in each zipcode 
df[['zipcode', 'intersection_count']].to_pickle('./dataset/intersections_per_zipcode.pkl')
df.head(3)

,FID_1,objectid,shape_area,shape_len,zipcode,intersection_count,Sum_osmid,Sum_x,Sum_y
0,0,33.0,1.060523e+08,42720.044406,60647,699,2.018352e+11,-61302.665277,29302.793967
1,1,34.0,1.274761e+08,48103.782721,60639,612,1.791981e+11,-53706.591818,25654.888800
2,2,35.0,4.506904e+07,27288.609612,60707,172,5.470885e+10,-15101.150940,7210.159568

## 2. Extract the zipcode  for each intersection

In [37]:
!ls gis_dataset/intersections_with_zip

intersections_with_ZIP.csv intersections_with_ZIP.shp
intersections_with_ZIP.dbf intersections_with_ZIP.shx
intersections_with_ZIP.prj

In [38]:
dbf_table_pth = './gis_dataset/intersections_with_zip/intersections_with_ZIP.dbf'
csv_path = dbf_to_csv(dbf_table_pth)
df = pd.read_csv(csv_path)
df.head(3)

,FID_1,osmid,x,y,ref,highway,FID_2,objectid,shape_area,shape_len,zip
0,52,26703646,-87.694086,41.930899,NaN,NaN,0,33.0,1.060523e+08,42720.044406,60647.0
1,53,26703648,-87.691585,41.929645,NaN,NaN,0,33.0,1.060523e+08,42720.044406,60647.0
2,54,26703650,-87.687291,41.927358,47A,motorway_junction,0,33.0,1.060523e+08,42720.044406,60647.0

In [39]:
df = df.rename(columns={'zip' : 'zipcode', 'y' : 'lat', 'x' : 'lgn'})

print('number of zipcodes are :',len(set(df.zipcode)))
print(df.columns)
df.head(3)

number of zipcodes are : 100
Index(['FID_1', 'osmid', 'lgn', 'lat', 'ref', 'highway', 'FID_2', 'objectid',
       'shape_area', 'shape_len', 'zipcode'],
      dtype='object')

,FID_1,osmid,lgn,lat,ref,highway,FID_2,objectid,shape_area,shape_len,zipcode
0,52,26703646,-87.694086,41.930899,NaN,NaN,0,33.0,1.060523e+08,42720.044406,60647.0
1,53,26703648,-87.691585,41.929645,NaN,NaN,0,33.0,1.060523e+08,42720.044406,60647.0
2,54,26703650,-87.687291,41.927358,47A,motorway_junction,0,33.0,1.060523e+08,42720.044406,60647.0

In [40]:
set(df['highway'])

{'bus_stop',
 'construction',
 'crossing',
 'crossing;traffic_signals',
 'mini_roundabout',
 'motorway_junction',
 nan,
 'stop',
 'traffic_signals',
 'turning_circle'}

###  Check zipcode with Nan values

In [41]:
# check nan zipcode 
df[df['zipcode'].isna()][['lat', 'lgn', 'zipcode']]

             lat        lgn  zipcode
28331  42.004319 -87.894079      NaN
28332  41.970665 -87.816953      NaN
28333  41.950724 -87.892766      NaN
28334  41.663246 -87.641437      NaN
28335  41.694857 -87.720479      NaN
28336  41.686136 -87.700620      NaN
28337  41.706184 -87.701333      NaN
28338  42.000853 -87.806757      NaN
28339  41.982807 -87.732107      NaN
28340  41.799420 -87.796640      NaN
28341  41.707208 -87.691524      NaN
28342  41.706076 -87.711114      NaN
28343  41.937889 -87.818952      NaN
28344  41.901994 -87.775362      NaN
28345  41.951846 -87.892769      NaN
28346  41.645755 -87.617224      NaN
28347  41.973947 -87.831741      NaN
28348  41.890490 -87.774993      NaN
28349  41.688067 -87.696046      NaN
28350  41.713661 -87.683133      NaN
28351  41.887524 -87.706315      NaN
28352  41.890015 -87.774978      NaN
28353  41.888954 -87.774944      NaN
28354  42.005847 -87.935264      NaN
28355  41.741897 -87.741104      NaN
28356  42.011992 -87.786729      NaN
28357  41.865863 -87.747146      NaN
28358  41.702682 -87.524473      NaN
28359  41.997281 -87.718315      NaN
28360  41.971904 -87.845286      NaN
28361  42.004376 -87.894203      NaN
28362  41.968307 -87.802541      NaN
28363  41.968768 -87.800123      NaN
28364  41.950732 -87.895573      NaN
28365  41.973806 -87.866814      NaN
28366  41.973931 -87.865488      NaN
28367  41.695770 -87.720517      NaN
28368  42.002714 -87.894197      NaN
28369  41.976241 -87.875855      NaN
28370  41.891887 -87.775038      NaN
28371  41.741943 -87.741106      NaN

### Estimate the zipcode from its lat/lgn

In [42]:
# create df containing the missing zipcode 
df_no_zipcode = df[df['zipcode'].isna()][['lat', 'lgn']]


# load the centroid coordinate of reference zipcode
df_centroid_zipcode = pd.read_pickle('./dataset/chicago_zipcode.pkl')


# find the missing zipcode from its distance to referred location
df_no_zipcode['zipcode'] = df_no_zipcode[['lat', 'lgn']].apply(lambda x : \
                                     interfer_zipcode_from_distance( df_centroid_zipcode , x[0], x[1]), axis = 1)

df_no_zipcode.head(3)

             lat        lgn  zipcode
28331  42.004319 -87.894079    60018
28332  41.970665 -87.816953    60656
28333  41.950724 -87.892766    60131

In [43]:
# merge new zipcode with old df
df = pd.merge(df, df_no_zipcode, how='outer', on = ['lat', 'lgn'])
df

,FID_1,osmid,lgn,lat,ref,highway,FID_2,objectid,shape_area,shape_len,zipcode_x,zipcode_y
0,52,26703646,-87.694086,41.930899,NaN,NaN,0,33.0,1.060523e+08,42720.044406,60647.0,NaN
1,53,26703648,-87.691585,41.929645,NaN,NaN,0,33.0,1.060523e+08,42720.044406,60647.0,NaN
2,54,26703650,-87.687291,41.927358,47A,motorway_junction,0,33.0,1.060523e+08,42720.044406,60647.0,NaN
3,62,26704168,-87.678438,41.922676,47A,motorway_junction,0,33.0,1.060523e+08,42720.044406,60647.0,NaN
4,63,26704169,-87.679930,41.923176,NaN,NaN,0,33.0,1.060523e+08,42720.044406,60647.0,NaN
5,64,26704178,-87.690595,41.929581,46B,motorway_junction,0,33.0,1.060523e+08,42720.044406,60647.0,NaN
6,346,35034247,-87.683685,41.924956,NaN,traffic_signals,0,33.0,1.060523e+08,42720.044406,60647.0,NaN
7,348,35034253,-87.677766,41.921390,NaN,traffic_signals,0,33.0,1.060523e+08,42720.044406,60647.0,NaN
8,358,43510489,-87.684937,41.915225,NaN,stop,0,33.0,1.060523e+08,42720.044406,60647.0,NaN
9,359,43512551,-87.689186,41.917923,NaN,NaN,0,33.0,1.060523e+08,42720.044406,60647.0,NaN
10,360,43513140,-87.687272,41.912571,NaN,traffic_signals,0,33.0,1.060523e+08,42720.044406,60647.0,NaN
11,366,48991444,-87.702314,41.924778,NaN,traffic_signals,0,33.0,1.060523e+08,42720.044406,60647.0,NaN
12,367,48991450,-87.687645,41.924902,NaN,traffic_signals,0,33.0,1.060523e+08,42720.044406,60647.0,NaN
13,395,102708213,-87.678145,41.932278,NaN,traffic_signals,0,33.0,1.060523e+08,42720.044406,60647.0,NaN
14,482,246785832,-87.707275,41.926381,NaN,NaN,0,33.0,1.060523e+08,42720.044406,60647.0,NaN
15,483,246785833,-87.706910,41.926220,NaN,NaN,0,33.0,1.060523e+08,42720.044406,60647.0,NaN
16,563,250755958,-87.677815,41.922669,NaN,traffic_signals,0,33.0,1.060523e+08,42720.044406,60647.0,NaN
17,1165,258967486,-87.687207,41.910324,NaN,traffic_signals,0,33.0,1.060523e+08,42720.044406,60647.0,NaN
18,1229,260098465,-87.690212,41.928503,NaN,NaN,0,33.0,1.060523e+08,42720.044406,60647.0,NaN
19,1230,260098499,-87.687339,41.927019,NaN,NaN,0,33.0,1.060523e+08,42720.044406,60647.0,NaN
20,1231,260098503,-87.685579,41.926180,NaN,NaN,0,33.0,1.060523e+08,42720.044406,60647.0,NaN
21,1232,260098507,-87.684125,41.925223,NaN,NaN,0,33.0,1.060523e+08,42720.044406,60647.0,NaN
22,1233,260098559,-87.684263,41.924949,NaN,traffic_signals,0,33.0,1.060523e+08,42720.044406,60647.0,NaN
23,1234,260098617,-87.681912,41.924977,NaN,traffic_signals,0,33.0,1.060523e+08,42720.044406,60647.0,NaN
24,1235,260098652,-87.684596,41.926379,NaN,NaN,0,33.0,1.060523e+08,42720.044406,60647.0,NaN
25,1236,260098734,-87.687025,41.929148,NaN,NaN,0,33.0,1.060523e+08,42720.044406,60647.0,NaN
26,1239,260099111,-87.678857,41.932267,NaN,NaN,0,33.0,1.060523e+08,42720.044406,60647.0,NaN
27,1262,261088991,-87.677747,41.920792,NaN,NaN,0,33.0,1.060523e+08,42720.044406,60647.0,NaN
28,1314,261092768,-87.685964,41.928415,NaN,NaN,0,33.0,1.060523e+08,42720.044406,60647.0,NaN
29,1325,261093578,-87.690204,41.928243,NaN,NaN,0,33.0,1.060523e+08,42720.044406,60647.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
28342,7504,261155456,-87.711114,41.706076,NaN,traffic_signals,0,0.0,0.000000e+00,0.000000,NaN,60655.0
28343,8197,261160144,-87.818952,41.937889,NaN,traffic_signals,0,0.0,0.000000e+00,0.000000,NaN,60634.0
28344,9306,261168233,-87.775362,41.901994,NaN,traffic_signals,0,0.0,0.000000e+00,0.000000,NaN,60302.0
28345,12304,261196735,-87.892769,41.951846,NaN,NaN,0,0.0,0.000000e+00,0.000000,NaN,60176.0
28346,14540,261214273,-87.617224,41.645755,NaN,NaN,0,0.0,0.000000e+00,0.000000,NaN,60827.0
28347,14801,261215773,-87.831741,41.973947,NaN,NaN,0,0.0,0.000000e+00,0.000000,NaN,60656.0
28348,15153,261218755,-87.774993,41.890490,NaN,NaN,0,0.0,0.000000e+00,0.000000,NaN,60302.0
28349,15158,261218867,-87.696046,41.688067,NaN,NaN,0,0.0,0.000000e+00,0.000000,NaN,60655.0
28350,15454,261222170,-87.683133,41.713661,NaN,NaN,0,0.0,0.000000e+00,0.000000,NaN,60805.0
28351,17480,261252885,-87.706315,41.887524,NaN,NaN,0,0.0,0.000000e+00,0.000000,NaN,60624.0
28352,17780,261258142,-87.774978,41.890015,NaN,NaN,0,0.0,0.000000e+00,0.000000,NaN,60302.0
28353,20263,261314044,-87.774944,41.888954,NaN,NaN,0,0.0,0.000000e+00,0.000000,NaN,60302.0
28354,20684,261335590,-87.935264,42.005847,NaN,NaN,0,0.0,0.000000e+00,0.000000,NaN,60018.0
28355,22793,333218979,-87.741104,41.741897,NaN,traffic_signals,0,0.0,0.000000e+00,0.000000,NaN,60456.0
28356,22965,349089145,-87.786729,42.011992,NaN,NaN,0,0.0,0.000000e+00,0.000000,NaN,60714.0
28357,23377,367783429,-87.747146,41.865863,NaN,NaN,0,0.0,0.000000e+00,0.000000,NaN,60644.0
28358,24635,711422111,-87.524473,41.702682,NaN,traffic_signals,0,0.0,0.000000e+00,0.000000,NaN,60617.0
28359,26106,1687257479,-87.718315,41.997281,NaN,traffic_signals,0,0.0,0.000000e+00,0.000000,NaN,60659.0
28360,26202,1851891827,-87.845286,41.971904,NaN,NaN,0,0.0,0.000000e+00,0.000000,NaN,60656.0
28361,26252,1892124413,-87.894203,42.004376,NaN,traffic_signals,0,0.0,0.000000e+00,0.000000,NaN,60018.0
28362,26449,0,-87.802541,41.968307,NaN,NaN,0,0.0,0.000000e+00,0.000000,NaN,60706.0
28363,26453,0,-87.800123,41.968768,NaN,NaN,0,0.0,0.000000e+00,0.000000,NaN,60706.0
28364,27033,0,-87.895573,41.950732,NaN,NaN,0,0.0,0.000000e+00,0.000000,NaN,60131.0
28365,27312,0,-87.866814,41.973806,NaN,NaN,0,0.0,0.000000e+00,0.000000,NaN,60176.0
28366,27313,0,-87.865488,41.973931,NaN,NaN,0,0.0,0.000000e+00,0.000000,NaN,60176.0
28367,27330,0,-87.720517,41.695770,NaN,NaN,0,0.0,0.000000e+00,0.000000,NaN,60655.0
28368,27824,0,-87.894197,42.002714,NaN,NaN,0,0.0,0.000000e+00,0.000000,NaN,60018.0
28369,28061,0,-87.875855,41.976241,NaN,NaN,0,0.0,0.000000e+00,0.000000,NaN,60176.0
28370,28176,0,-87.775038,41.891887,NaN,traffic_signals,0,0.0,0.000000e+00,0.000000,NaN,60302.0
28371,28193,0,-87.741106,41.741943,NaN,traffic_signals,0,0.0,0.000000e+00,0.000000,NaN,60456.0

In [44]:
# fill Nan zipcode in zipcode_x with new zipcode from zipcode_y
mask = df['zipcode_x'].isna()
df['zipcode_x'][mask] = df['zipcode_y'][mask] 

# rename column
df = df.rename(columns={'zipcode_x' : 'zipcode'})

# convert zipcode into integer
df['zipcode'] = df['zipcode'].astype(int)
print(df.columns)
df.head(3)

Index(['FID_1', 'osmid', 'lgn', 'lat', 'ref', 'highway', 'FID_2', 'objectid',
       'shape_area', 'shape_len', 'zipcode', 'zipcode_y'],
      dtype='object')

/Users/ducvu/anaconda3/envs/metis/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

,FID_1,osmid,lgn,lat,ref,highway,FID_2,objectid,shape_area,shape_len,zipcode,zipcode_y
0,52,26703646,-87.694086,41.930899,NaN,NaN,0,33.0,1.060523e+08,42720.044406,60647,NaN
1,53,26703648,-87.691585,41.929645,NaN,NaN,0,33.0,1.060523e+08,42720.044406,60647,NaN
2,54,26703650,-87.687291,41.927358,47A,motorway_junction,0,33.0,1.060523e+08,42720.044406,60647,NaN

In [45]:
# pickling df 
df[['zipcode', 'lgn', 'lat', 'highway']].to_pickle('./dataset/intersections_with_zipcode.pkl')
df.head(3)

,FID_1,osmid,lgn,lat,ref,highway,FID_2,objectid,shape_area,shape_len,zipcode,zipcode_y
0,52,26703646,-87.694086,41.930899,NaN,NaN,0,33.0,1.060523e+08,42720.044406,60647,NaN
1,53,26703648,-87.691585,41.929645,NaN,NaN,0,33.0,1.060523e+08,42720.044406,60647,NaN
2,54,26703650,-87.687291,41.927358,47A,motorway_junction,0,33.0,1.060523e+08,42720.044406,60647,NaN

## 3. Extract the cross roads  for each intersection

In [46]:
!ls gis_dataset/intersectionwithnames

intersectionwithnames.csv intersectionwithnames.sbn intersectionwithnames.shx
intersectionwithnames.dbf intersectionwithnames.sbx intersectionwithnames.xml
intersectionwithnames.prj intersectionwithnames.shp

In [47]:
dbf_table_pth = './gis_dataset/intersectionwithnames/intersectionwithnames.dbf'
csv_path = dbf_to_csv(dbf_table_pth)
df = pd.read_csv(csv_path)

print(len(df))
df = df.rename(columns={'y' : 'lat', 'x' : 'lgn'})
#print('number of zipcodes are :',len(set(df.zipcode)))
print(df.columns)
df.head(3)

/Users/ducvu/anaconda3/envs/metis/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3057: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

95661
Index(['OBJECTID', 'Join_Count', 'TARGET_FID', 'JOIN_FID', 'osmid', 'lgn',
       'lat', 'ref', 'highway', 'FNODE_ID', 'TNODE_ID', 'TRANS_ID', 'PRE_DIR',
       'STREET_NAM', 'STREET_TYP', 'SUF_DIR', 'STREETNAME', 'L_F_ADD',
       'L_T_ADD', 'R_F_ADD', 'R_T_ADD', 'LOGICLF', 'LOGICLT', 'LOGICRF',
       'LOGICRT', 'CLASS', 'STATUS', 'STATUS_DAT', 'TIERED', 'ONEWAY_DIR',
       'DIR_TRAVEL', 'EWNS', 'L_PARITY', 'R_PARITY', 'F_ZLEV', 'T_ZLEV',
       'L_FIPS', 'R_FIPS', 'R_ZIP', 'L_ZIP', 'R_CENSUSBL', 'L_CENSUSBL',
       'F_CROSS', 'F_CROSS_ST', 'T_CROSS', 'T_CROSS_ST', 'LENGTH', 'EDIT_DATE',
       'EDIT_TYPE', 'FLAG_STRIN', 'EWNS_DIR', 'EWNS_COORD', 'CREATE_USE',
       'CREATE_TIM', 'UPDATE_USE', 'UPDATE_TIM'],
      dtype='object')

,OBJECTID,Join_Count,TARGET_FID,JOIN_FID,osmid,lgn,lat,ref,highway,FNODE_ID,...,LENGTH,EDIT_DATE,EDIT_TYPE,FLAG_STRIN,EWNS_DIR,EWNS_COORD,CREATE_USE,CREATE_TIM,UPDATE_USE,UPDATE_TIM
0,1,1,0,28367,701663.0,-87.844405,41.983874,79A,motorway_junction,2983.0,...,1464.880741,0.0,NaN,NaN,NaN,0.0,EXISTING,1999-01-01,EXISTING,1999-01-01
1,2,1,1,4723,701665.0,-87.847486,41.983985,78,motorway_junction,17567.0,...,2370.230017,0.0,NaN,DUPFROMTO,NaN,0.0,EXISTING,1999-01-01,EXISTING,1999-01-01
2,3,1,1,33907,701665.0,-87.847486,41.983985,78,motorway_junction,2982.0,...,2380.050458,20100803.0,Street Name Change,NaN,NaN,0.0,EXISTING,1999-01-01,ds06027,2010-08-03

In [48]:
df.iloc[12222]

OBJECTID                      12223
Join_Count                        1
TARGET_FID                     3553
JOIN_FID                      34177
osmid                   2.61128e+08
lgn                        -87.6876
lat                         41.9658
ref                             NaN
highway                         NaN
FNODE_ID                      35010
TNODE_ID                      33166
TRANS_ID                     102347
PRE_DIR                           W
STREET_NAM                 EASTWOOD
STREET_TYP                      AVE
SUF_DIR                         NaN
STREETNAME                     2158
L_F_ADD                        2301
L_T_ADD                        2317
R_F_ADD                        2300
R_T_ADD                        2316
LOGICLF                        2301
LOGICLT                        2319
LOGICRF                        2300
LOGICRT                        2316
CLASS                             4
STATUS                            N
STATUS_DAT               1999-01-01
TIERED                            N
ONEWAY_DIR                        W
DIR_TRAVEL                        F
EWNS                           4632
L_PARITY                          O
R_PARITY                          E
F_ZLEV                            0
T_ZLEV                            0
L_FIPS                        14000
R_FIPS                        14000
R_ZIP                         60625
L_ZIP                         60625
R_CENSUSBL               1.7031e+14
L_CENSUSBL               1.7031e+14
F_CROSS         4642|N|LINCOLN|AVE|
F_CROSS_ST                      730
T_CROSS       4699|N|CLAREMONT|AVE|
T_CROSS_ST                      430
LENGTH                      227.802
EDIT_DATE                         0
EDIT_TYPE                       NaN
FLAG_STRIN                      NaN
EWNS_DIR                          N
EWNS_COORD                     4632
CREATE_USE                 EXISTING
CREATE_TIM               1999-01-01
UPDATE_USE                 EXISTING
UPDATE_TIM               1999-01-01
Name: 12222, dtype: object

In [49]:
df[['lat', 'lgn', 'STREET_NAM', 'STREET_TYP', 'F_CROSS', 'F_CROSS_ST', 'T_CROSS', 'T_CROSS_ST']]

,lat,lgn,STREET_NAM,STREET_TYP,F_CROSS,F_CROSS_ST,T_CROSS,T_CROSS_ST
0,41.983874,-87.844405,KENNEDY,EXPY,8599|W|||,0.0,8800|W|IB NORTHWEST|TOLL|,2321.0
1,41.983985,-87.847486,OB NORTHWEST,TOLL,5800|N|EAST RIVER|RD|,470.0,9131|W|||,0.0
2,41.983985,-87.847486,I190,EXPY,8600|W|KENNEDY|EXPY|,2350.0,9131|W|||,0.0
3,41.984697,-87.831466,KENNEDY CUMBERLAND AV,XR,8200|W|KENNEDY|EXPY|,2350.0,8319|W|HIGGINS|RD|,2289.0
4,41.984697,-87.831466,KENNEDY,EXPY,8200|W|KENNEDY CUMBERLAND AV|XR|,2348.0,5800|N|KENNEDY CUMBERLAND AV|ER|,591.0
5,41.983432,-87.817823,KENNEDY,EXPY,7632|W|KENNEDY HIGGINS RD|XR|,2354.0,7901|W|||,410.0
6,41.983432,-87.817823,KENNEDY,EXPY,7599|W|||,0.0,7632|W|KENNEDY HIGGINS RD|XR|,2354.0
7,41.983432,-87.817823,KENNEDY HIGGINS RD,XR,7632|W|KENNEDY|EXPY|,2350.0,7800|W|HIGGINS|AVE|,2288.0
8,41.983129,-87.817597,KENNEDY,EXPY,7599|W|||,0.0,7634|W|CANFIELD AV JFK|ER|,2083.0
9,41.900902,-87.660921,KENNEDY,EXPY,1035|N|KENNEDY DIVISION ST|ER|,597.0,1101|N|||,0.0
10,41.900902,-87.660921,KENNEDY,EXPY,999|N|||,0.0,1035|N|KENNEDY DIVISION ST|ER|,597.0
11,41.900902,-87.660921,KENNEDY DIVISION ST,ER,1035|N|KENNEDY|EXPY|,601.0,1101|N|||,0.0
12,41.895018,-87.657114,KENNEDY,EXPY,699|N|||,0.0,755| | | |,1.0
13,41.894301,-87.655976,KENNEDY,EXPY,641|N|||,0.0,675|N|||,0.0
14,41.894301,-87.655976,KENNEDY,EXPY,673|N|||,0.0,701|N|||,912.0
15,41.894301,-87.655976,KENNEDY OHIO FEEDER,XR,621|N|||,0.0,675|N|KENNEDY|EXPY|,601.0
16,41.884228,-87.646061,KENNEDY LAKE ST,ER,119|N|KENNEDY|EXPY|,601.0,143|N|||,2485.0
17,41.884228,-87.646061,KENNEDY,EXPY,127|N|||,0.0,149|N|||,2485.0
18,41.873723,-87.645636,DAN RYAN TAYLOR ST,XR,621|S|DAN RYAN|EXPY|,1288.0,701|S|||,0.0
19,41.873723,-87.645636,DAN RYAN,EXPY,621|S|DAN RYAN TAYLOR ST|XR|,1308.0,701|S|||,0.0
20,41.873723,-87.645636,DAN RYAN,EXPY,599|S|||,0.0,621|S|DAN RYAN TAYLOR ST|XR|,1308.0
21,41.869456,-87.645009,DAN RYAN,EXPY,999|S|||,0.0,1101|S|||,0.0
22,41.857516,-87.644322,18TH,ST,663|W|||,0.0,1800|S|UNION|AVE|,1745.0
23,41.857516,-87.644322,DAN RYAN,EXPY,1699|S|||,0.0,1801|S|||,1854.0
24,41.857516,-87.644322,DAN RYAN,EXPY,1799|S|||,0.0,1809|S|STEVENSON EXPY|ER|,1720.0
25,41.857516,-87.644322,18TH,ST,657|W|||,0.0,665|W|||,0.0
26,41.837544,-87.668383,STEVENSON,EXPY,1699|W|||,0.0,1713|W|||,0.0
27,41.847885,-87.622664,STEVENSON KING DR,XR,100|E|STEVENSON|EXPY|,337.0,201|E|||,0.0
28,41.847885,-87.622664,STEVENSON,EXPY,100|E|STEVENSON KING DR|XR|,342.0,201|E|||,0.0
29,41.846962,-87.627591,STEVENSON,EXPY,2|W|STEVENSON DAN RYAN|XR|,2539.0,101|W|||,0.0
...,...,...,...,...,...,...,...,...
95631,41.789754,-87.702228,TROY,ST,||DEAD END||,0.0,3133|W|58TH|ST|,1933.0
95632,41.930007,-87.726940,PULASKI,RD,4000|W|WRIGHTWOOD|AVE|,2610.0,4000|W|SCHUBERT|AVE|,2512.0
95633,41.930007,-87.726940,PULASKI,RD,4000|W|SCHUBERT|AVE|,2512.0,4000|W|PARKER|AVE|,2461.0
95634,41.930007,-87.726940,SCHUBERT,AVE,2700|N|HARDING|AVE|,526.0,2700|N|PULASKI|RD|,966.0
95635,41.930007,-87.726940,SCHUBERT,AVE,2700|N|PULASKI|RD|,966.0,2700|N|KARLOV|AVE|,565.0
95636,41.904445,-87.726352,PULASKI,RD,4000|W|POTOMAC|AVE|,2473.0,4000|W|KAMERLING|AVE|,2343.0
95637,41.904445,-87.726352,POTOMAC,AVE,1300|N|PULASKI|RD|,966.0,1300|N|KARLOV|AVE|,565.0
95638,41.904445,-87.726352,PULASKI,RD,4000|W|CRYSTAL|ST|,2121.0,4000|W|POTOMAC|AVE|,2473.0
95639,41.904445,-87.726352,POTOMAC,AVE,3947|W|||,0.0,1300|N|PULASKI|RD|,966.0
95640,41.906353,-87.731291,HIRSCH,ST,1400|N|KEDVALE|AVE|,569.0,1400|N|KEELER|AVE|,575.0
95641,41.906353,-87.731291,HIRSCH,ST,1400|N|KEELER|AVE|,575.0,1400|N|TRIPP|AVE|,1041.0
95642,41.906353,-87.731291,KEELER,AVE,4200|W|KAMERLING|AVE|,2343.0,4200|W|HIRSCH|ST|,2293.0
95643,41.906353,-87.731291,KEELER,AVE,4200|W|HIRSCH|ST|,2293.0,1500|N|||,0.0
95644,41.898733,-87.745901,AUGUSTA,BLVD,1000|N|CICERO|AVE|,428.0,1000|N|LAMON|AVE|,696.0
95645,41.898733,-87.745901,CICERO,AVE,4800|W|WALTON|ST|,2580.0,4800|W|AUGUSTA|BLVD|,2045.0
95646,41.898733,-87.745901,AUGUSTA,BLVD,999|N|KILPATRICK|AVE|,664.0,1000|N|CICERO|AVE|,428.0
95647,41.898733,-87.745901,CICERO,AVE,4800|W|AUGUSTA|BLVD|,2045.0,4800|W|CORTEZ|ST|,2113.0
95648,41.858600,-87.724946,PULASKI,RD,4000|W|16TH|ST|,1849.0,4000|W|18TH|ST|,1854.0
95649,41.836453,-87.724353,PULASKI,RD,4000|W|31ST|ST|,1879.0,4000|W|32ND|ST|,1882.0
95650,41.855629,-87.690649,ROCKWELL,ST,1847|S|||,0.0,2600|W|19TH|ST|,1856.0
95651,41.855629,-87.690649,19TH,ST,1900|S|ROCKWELL|ST|,1686.0,1900|S|WASHTENAW|AVE|,1766.0
95652,41.855629,-87.690649,ROCKWELL,ST,2600|W|19TH|ST|,1856.0,2600|W|CULLERTON|ST|,2124.0
95653,41.766817,-87.672375,WINCHESTER,AVE,1933|W|69TH|ST|,1955.0,||DEAD END||,0.0
95654,41.732079,-87.650810,ABERDEEN,ST,8899|S|||,0.0,1100|W|90TH|ST|,1999.0
95655,41.677556,-87.664990,119TH,ST,11899|S|MARSHFIELD|AVE|,1580.0,1733|W|||,0.0
95656,41.677556,-87.664990,119TH,ST,1731|W|||,0.0,1801|W|||,0.0
95657,41.785500,-87.628550,60TH,ST,119|W|||,0.0,6000|S|LA SALLE|ST|,1500.0
95658,41.785509,-87.627959,60TH,ST,6000|S|PERRY|AVE|,1659.0,121|W|||,0.0
95659,41.823862,-87.607951,PERSHING,RD,3899|S|EVANS|AVE|,1359.0,3900|S|COTTAGE GROVE|AVE|,1236.0
95660,41.823968,-87.607948,PERSHING,RD,3899|S|EVANS|AVE|,1359.0,3900|S|COTTAGE GROVE|AVE|,1236.0